*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

.overflow {
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@font-face {
  font-family: "TajawalMedium";
  src: url("../fonts/Tajawal-Medium.woff2") format("woff2"), url("../fonts/Tajawal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TajawalExtraBold";
  src: url("../fonts/Tajawal-ExtraBold.woff2") format("woff2"), url("../fonts/Tajawal-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TajawalBold";
  src: url("../fonts/Tajawal-Bold.woff2") format("woff2"), url("../fonts/Tajawal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TajawalRegular";
  src: url("../fonts/Tajawal-Regular.woff2") format("woff2"), url("../fonts/Tajawal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
html {
  scroll-behavior: smooth;
  width: 100%;
  background-color: white;
  font-family: "TajawalRegular", "Tajawal", sans-serif;
  color: black;
  overflow-x: hidden;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 400;
}

p {
  margin: 0;
}

a {
  color: black;
  transition: all 0.5s;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
}

.c2 {
  width: 1140px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .c2 {
    padding: 0 15px;
  }
}

.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.dropdown a {
  color: black;
}

.dropdown .dropdown-content {
  position: absolute;
  min-width: 100%;
  width: max-content;
  top: 102%;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px 0px #0000001f;
  padding: 5px 20px;
  border-radius: 10px;
}

.dropdown .dropdown-content a {
  font-size: 16px;
}

.dropdown:hover .dropdown-content {
  z-index: 15;
  opacity: 1;
  height: unset;
}

.slide {
  width: 100%;
  cursor: pointer;
}

.slide .drop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide .drop i {
  font-size: 11px;
  transition: all 0.5s;
}

.slide ul {
  display: none;
  margin-inline-start: 15px;
  text-align: start;
}

.slide-active .drop i {
  transform: rotate(180deg);
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: inset 0 0 10px #414141;
  background: #626262;
}

.pre-loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.pre-loader .containe .dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  transform-origin: center;
  animation: switch 2s ease both alternate infinite;
}

.pre-loader .containe .dots .dot {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #626262;
}

.s-container {
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.s-container .swiper-button-prev,
.s-container .swiper-button-next {
  color: #b3b3b3;
  transition: all 0.5s;
  top: 50%;
}

.s-container .swiper-button-prev:after,
.s-container .swiper-button-next:after {
  font-size: 14px;
}

.s-container .swiper-button-prev:hover,
.s-container .swiper-button-next:hover {
  color: #161a1d;
}

@media (max-width: 992px) {
  .s-container .swiper-button-prev,
  .s-container .swiper-button-next {
    display: none;
  }
}

.s-container .swiper-button-prev {
  right: -55px;
}

@media (max-width: 1400px) {
  .s-container .swiper-button-prev {
    right: -35px;
  }
}

.s-container .swiper-button-next {
  left: -55px;
}

@media (max-width: 1400px) {
  .s-container .swiper-button-next {
    left: -35px;
  }
}

.s-container .swiper-pagination {
  position: static;
  margin-top: 10px;
  display: none;
}

@media (max-width: 576px) {
  .s-container .swiper-pagination {
    display: block;
  }
}

.s-container .swiper-pagination-bullet {
  width: 15px;
  height: 5px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .s-container .swiper-pagination-bullet {
    width: 12px;
    height: 3px;
  }
}

.s-container .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: black;
}

.s-container .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2.5px;
}

.s-head {
  margin-bottom: 45px;
  text-align: center;
}

@media (max-width: 576px) {
  .s-head {
    margin-bottom: 30px;
  }
}

.s-head h3 {
  font-size: 24px;
  margin: 0;
  color: #626262;
  font-family: TajawalBold;
  position: relative;
}

.s-head h3::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #d4dfd7;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
  .s-head h3 {
    font-size: 21px;
  }
}

.product {
  border: 1px solid #eaeaea;
  padding-bottom: 20px;
  transition: all 0.5s;
}

.product .product-img {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.product .product-img img {
  transition: all 0.5s;
  max-width: 100%;
}

.product .product-img .sale {
  background-color: #d4dfd7;
  width: fit-content;
  height: fit-content;
  padding: 5px 45px;
  transform: rotate(42deg) translate(-50%, -50%);
  position: absolute;
  top: 30%;
  right: -32%;
}

@media (max-width: 1200px) {
  .product .product-img .sale {
    top: 31%;
    right: -23%;
  }
}

@media (max-width: 992px) {
  .product .product-img .sale {
    top: 33%;
    right: -18%;
  }
}

@media (max-width: 768px) {
  .product .product-img .sale {
    top: 32%;
    right: -13%;
  }
}

@media (max-width: 420px) {
  .product .product-img .sale {
    top: 32%;
    right: -26%;
  }
}

.product .product-img .see {
  height: 50px;
  width: 50px;
  background-color: rgba(98, 98, 98, 0.7);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  opacity: 0;
  cursor: pointer;
}

.product .product-disc {
  text-align: center;
}

.product .product-disc h5 {
  font-size: 16px;
  color: #626262;
  margin-bottom: 15px;
  font-family: TajawalRegular;
  transition: all 0.5s;
}

.product .product-disc .color {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .product-disc .color > div {
  width: 35px;
  height: 22px;
  border-radius: 50px;
  margin: 0 4px;
  cursor: pointer;
}

.product .product-disc .color .c1 {
  background-color: #6ec2dd;
}

.product .product-disc .color .c2 {
  background-color: #fbf17d;
}

.product .product-disc .color .c3 {
  background-color: #27c98d;
}

.product .product-disc .color .c4 {
  background-color: #737373;
}

.product .product-disc .size {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .product-disc .size > div {
  width: 35px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #eaeaea;
  margin: 0 4px;
  font-size: 14px;
  color: #626262;
  cursor: pointer;
}

.product .product-disc .price {
  color: #626262;
  font-weight: 700;
  font-size: 16px;
  font-family: TajawalBold;
  justify-content: center;
  margin-bottom: 15px;
}

.product .product-disc .price .price-sale {
  text-decoration: line-through;
  color: gray;
  margin: 0 5px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
}

.product .product-disc .price span {
  margin: 0 1px;
}

.product .product-disc .buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product .product-disc .buy .cart {
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  background-color: #b0c6c2;
  width: 209px;
  height: 32px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s;
}

.product .product-disc .buy .cart span {
  font-size: 18px;
  margin-inline-end: 7px;
}

.product .product-disc .buy .cart:hover {
  background-color: #70a0bb;
}

.product .product-disc .showHover {
  height: 0;
  margin-bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s, margin 0.5s;
}

.product:hover {
  border: 1px solid #eaeaea;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.005);
}

.product:hover .showHover {
  height: auto;
  margin-bottom: 15px;
  visibility: visible;
  opacity: 1;
}

.product:hover .see {
  opacity: 1;
}

nav {
  color: #626262;
}

nav .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  nav .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  nav .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  nav .container {
    width: 1500px;
  }
}

nav .row {
  margin: 0;
}

nav .row > div {
  padding: 0;
}

nav .fa-sort-down:before {
  font-size: 11px;
}

nav .top-settings {
  display: flex;
  align-items: center;
}

nav .top-setting {
  position: relative;
}

nav .top-setting .setting-anchor {
  font-size: 14px;
  color: black;
  line-height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav .top-setting .setting-anchor::after {
  font-family: "Linearicons-Free";
  font-weight: 900;
  content: "\e874";
  font-size: 8px;
  margin-inline-start: 5px;
}

nav .top-setting .top-dropDown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  min-width: 100px;
  padding: 4px 13px 12px 13px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}

nav .top-setting .drop-link {
  white-space: nowrap;
  border-bottom: 1px solid #ededf0;
  padding: 7px;
  margin-bottom: 0px;
  font-size: 15px;
  display: block;
  color: #626262;
  transition: all 0.3s ease-in-out;
}

nav .top-setting .drop-link:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

nav .top-setting .drop-link:hover {
  color: #e1e9e8;
}

nav .top-setting:hover .setting-anchor {
  color: #626262;
}

nav .top-setting:hover .top-dropDown {
  visibility: visible;
  opacity: 1;
}

nav .nav-bottom {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: white;
}

@media (max-width: 1200px) {
  nav .nav-bottom {
    padding: 20px 0;
  }
}

nav .nav-bottom .c2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

nav .nav-bottom .nav-lang {
  position: absolute;
  top: -6px;
  left: 0;
  font-size: 14px;
  z-index: 9;
}

nav .nav-bottom .nav-lang .setting-anchor {
  color: #626262;
  font-size: 16px;
}

nav .nav-bottom .nav-lang .setting-anchor img {
  margin-inline-end: 5px;
}

@media (max-width: 1200px) {
  nav .nav-bottom .nav-lang {
    display: none;
  }
}

nav .nav-bottom .nav-logo {
  text-align: center;
}

nav .nav-bottom .nav-logo img {
  max-width: 100%;
}

@media (max-width: 768px) {
  nav .nav-bottom .nav-logo img {
    max-width: 85%;
  }
}

nav .nav-bottom .search {
  width: 30%;
}

nav .nav-bottom .search .search-content {
  position: relative;
  width: fit-content;
}

nav .nav-bottom .search .search-content form {
  width: 100%;
}

nav .nav-bottom .search .search-content input {
  width: 260px;
  height: 50px;
  font-size: 15px;
  background-color: white;
  border: 2px solid #dde4e1;
  border-radius: 50px;
  padding: 0 30px;
  font-family: "TajawalRegular";
  color: black;
  outline: none;
}

nav .nav-bottom .search .search-content input::placeholder {
  color: #999999;
}

nav .nav-bottom .search .search-content .search-btn {
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 27px;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  color: #626262;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #d4dfd7;
}

nav .nav-bottom .search .search-content .search-btn:hover {
  color: white;
}

@media (max-width: 1200px) {
  nav .nav-bottom .search {
    display: none;
  }
}

nav .nav-bottom .nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

nav .nav-bottom .nav-icons > div {
  margin-inline-start: 20px;
  cursor: pointer;
  font-family: TajawalMedium;
}

nav .nav-bottom .nav-icons .user a {
  color: #626262;
}

nav .nav-bottom .nav-icons .user a:hover {
  color: #e1e9e8;
}

@media (max-width: 1200px) {
  nav .nav-bottom .nav-icons .favourite,
  nav .nav-bottom .nav-icons .user {
    display: none;
  }
}

nav .nav-bottom .nav-icons .cart .cart-btn {
  color: #626262;
  font-size: 20px;
  position: relative;
  transition: all 0.5s;
}

nav .nav-bottom .nav-icons .cart .cart-btn i {
  margin: 0;
}

nav .nav-bottom .nav-icons .cart .cart-btn .count {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #d4dfd7;
  color: white;
  font-family: TajawalBold;
  font-size: 12px;
  position: absolute;
  top: -7px;
  right: -7px;
}

nav .nav-bottom .nav-icons .cart .cart-btn:hover .count {
  animation: vibe 0.7s ease forwards;
}

@media (max-width: 1200px) {
  nav .nav-bottom .nav-icons {
    width: 30%;
  }
}

nav .nav-bottom .nav-icons-sm {
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  display: none;
}

nav .nav-bottom .nav-icons-sm div {
  margin-inline-end: 20px;
  font-size: 20px;
  color: #626262;
  cursor: pointer;
}

@media (max-width: 1200px) {
  nav .nav-bottom .nav-icons-sm {
    display: flex;
    width: 30%;
  }
}

nav .nava-container {
  background-color: #d4dfd7;
}

nav .nava {
  margin: 14px auto;
  transition: all 0.5s;
}

nav .nava .nava-content > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: TajawalMedium;
  font-weight: 500;
}

nav .nava .nava-content > ul > li {
  margin: 0 10px;
}

nav .nava .nava-content > ul > li > a {
  color: #626262;
  transition: all 0.5s;
  font-weight: 500;
  font-family: TajawalMedium;
  font-size: 17px;
  text-transform: capitalize;
}

nav .nava .nava-content > ul > li > a:hover {
  color: white;
}

nav .nava .nava-content > ul .slide .drop {
  font-size: 17px;
  font-weight: 500;
  font-family: TajawalMedium;
  color: #626262;
}

nav .nava .nava-content > ul .slide .drop span {
  font-size: 16px;
  color: #626262;
  transform-origin: center;
  transition: all 0.5s;
  transition: all 0.5s;
}

nav .nava .nava-content > ul .slide .drop:hover {
  color: white;
}

nav .nava .nava-content > ul .slide ul li a {
  color: #626262;
}

nav .nava .nava-content > ul .slide ul li a:hover {
  color: #e1e9e8;
}

nav .nava .nava-content > ul .sm-slide .drop {
  color: #626262;
  transition: all 0.5s;
  font-weight: 500;
  font-family: TajawalMedium;
  font-size: 17px;
  text-transform: capitalize;
  cursor: pointer;
}

nav .nava .nava-content > ul .sm-slide .drop:hover {
  color: white;
}

nav .nava .nava-content > ul .sm-slide .drop span {
  display: none;
}

nav .nava .nava-content > ul .sm-slide .top-dropDown .drop-link a {
  color: #626262;
}

nav .nava .nava-content > ul .sm-slide .top-dropDown .drop-link a:hover {
  color: #e1e9e8;
}

nav .nava .nava-content > ul .sm-slide ul {
  top: calc(100% + 12px);
}

nav .nava .nava-content > ul .sm-slide ul li a {
  font-size: 15px;
}

nav .nava .nava-content > ul .sm-link {
  display: none;
}

@media (max-width: 1200px) {
  nav .nava .nava-content > ul .sm-link {
    display: block;
  }
}

nav .nava .nava-content > ul .active a {
  color: #d4dfd7;
}

nav .nava .nava-content .nava-head {
  display: none;
}

@media (max-width: 1200px) {
  nav .nava {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 0;
    width: 100%;
    z-index: -5;
    opacity: 0;
    transition: all 0.5s;
  }
}

@media (max-width: 1200px) {
  nav .nava .nava-content {
    position: absolute;
    top: 0;
    right: -150%;
    background-color: white;
    height: 100vh;
    width: 60%;
    transition: all 0.5s;
    flex-direction: column;
    text-align: right;
    padding: 0 30px;
    padding-top: 30px;
  }
  nav .nava .nava-content > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }
  nav .nava .nava-content > ul li {
    margin: 10px 0;
  }
  nav .nava .nava-content > ul li a:hover {
    color: #d4dfd7;
  }
  nav .nava .nava-content > ul .slide .drop:hover {
    color: #d4dfd7;
  }
  nav .nava .nava-content > ul .sm-slide .drop span {
    display: inline;
  }
  nav .nava .nava-content > ul .sm-slide .drop:hover {
    color: #d4dfd7;
  }
  nav .nava .nava-content .nava-head {
    display: flex;
    margin: 9px 0;
    font-size: 17px;
    position: relative;
  }
  nav .nava .nava-content .nava-head a {
    color: #626262;
  }
  nav .nava .nava-content .nava-head .top-settings .top-setting {
    margin-inline-end: 20px;
  }
  nav .nava .nava-content .nava-head .top-settings .top-setting:nth-last-of-type(1) {
    margin-inline-end: 0;
  }
  nav .nava .nava-content .nava-head .nava-close {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translate(-50%, -50%);
    font-size: 25px;
    cursor: pointer;
    color: #bdbdbd;
  }
}

@media (max-width: 576px) {
  nav .nava .nava-content {
    width: 85%;
  }
  nav .nava .nava-content .nava-head {
    font-size: 16px;
  }
  nav .nava .nava-content .nava-head .nava-close {
    font-size: 20px;
  }
  nav .nava .nava-content li {
    margin: 9px 0;
  }
  nav .nava .nava-content li a {
    font-size: 16px;
  }
}

nav .nava-active {
  opacity: 1;
  z-index: 999;
  height: 100vh;
}

nav .nava-active .nava-content {
  right: 0;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
}

.up {
  height: 50px;
  width: 50px;
  background-color: #7ec6c9db;
  right: 20px;
  bottom: 30px;
  color: white;
  font-size: 17px;
  position: fixed;
  z-index: 999;
  border-radius: 100%;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.up:hover {
  color: black;
}

.active-up {
  visibility: visible;
  opacity: 1;
}

.search-form {
  height: 0%;
  width: 0%;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -500;
  overflow: hidden;
  transition: all 0.5s;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}

@media (max-width: 768px) {
  .search-form {
    font-size: 18px;
  }
}

.search-form .close-search {
  font-size: 24px;
  margin-bottom: 75px;
  margin-top: 60px;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .search-form .close-search {
    margin-bottom: 130px;
    margin-top: 50px;
  }
}

.search-form .search {
  width: 590px;
  height: 50px;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.search-form .search form {
  height: 100%;
}

.search-form .search input {
  width: 100%;
  height: 100%;
  font-size: 24px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 20px;
  font-family: "Tajawal";
  color: white;
  background-color: transparent;
  outline: none;
}

.search-form .search input::placeholder {
  color: #7d7d7d;
}

@media (max-width: 576px) {
  .search-form .search input {
    padding: 0 15px;
  }
}

.search-form .search input:-webkit-autofill, .search-form .search input:-webkit-autofill:hover, .search-form .search input:-webkit-autofill:focus {
  background-color: transparent;
}

.search-form .search .searching {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color: white;
  line-height: 3.75;
  font-size: 30px;
}

@media (max-width: 576px) {
  .search-form .search .searching {
    left: 30px;
  }
}

.search-form-active {
  opacity: 1 !important;
  z-index: 2000 !important;
  height: 100% !important;
  width: 100% !important;
}

header .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  header .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  header .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  header .container {
    width: 1500px;
  }
}

header .row {
  margin: 0;
}

header .row > div {
  padding: 0;
}

header .swiper-container {
  width: 100%;
  height: auto;
}

header .swiper-container .swiper-pagination {
  bottom: 40px;
}

@media (max-width: 576px) {
  header .swiper-container .swiper-pagination {
    bottom: 15px;
  }
}

header .swiper-container .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

header .swiper-container .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: white;
}

header .swiper-container .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2.5px;
}

header .swiper-container .swiper-button-prev,
header .swiper-container .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  top: 50%;
}

@media (max-width: 768px) {
  header .swiper-container .swiper-button-prev,
  header .swiper-container .swiper-button-next {
    display: none;
    height: 25px;
    width: 25px;
  }
}

header .swiper-container .swiper-button-prev:after,
header .swiper-container .swiper-button-next:after {
  color: white;
  font-size: 16px;
}

header .swiper-container .swiper-button-prev:hover,
header .swiper-container .swiper-button-next:hover {
  background-color: white;
}

header .swiper-container .swiper-button-prev:hover:after,
header .swiper-container .swiper-button-next:hover:after {
  color: #2e2e2e;
}

header .swiper-container .swiper-button-prev {
  right: 35px;
}

header .swiper-container .swiper-button-next {
  left: 35px;
}

header .swiper-container .swiper-slide img {
  width: 100%;
  height: auto;
  transition: all 0.5s;
}

#follow {
  background-color: #fcfcfc;
}

#follow .follow-content {
  padding: 45px;
  text-align: center;
}

#follow .follow-content a {
  color: #626262;
}

#follow .follow-content a h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

#follow .follow-content a span {
  font-size: 24px;
}

#banners {
  margin-top: 40px;
}

#banners .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  #banners .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #banners .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #banners .container {
    width: 1500px;
  }
}

#banners .row {
  margin: 0;
}

#banners .row > div {
  padding: 0;
}

#banners .banners-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#banners .banners-content .banner {
  width: 25%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

@media (max-width: 1200px) {
  #banners .banners-content .banner {
    width: 50%;
  }
}

@media (max-width: 576px) {
  #banners .banners-content .banner {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
  }
}

#banners .banners-content .banner img {
  width: 100%;
  max-width: 260px;
  transition: all 0.5s;
  transform: scale(1);
  margin-bottom: 22px;
}

#banners .banners-content .banner h3 {
  font-size: 18px;
  font-family: TajawalMedium;
  color: #626262;
  transition: all 0.5s;
}

#banners .banners-content .banner h3:hover {
  color: #d4dfd7;
}

#banners .banners-content .banner::before {
  position: absolute;
  top: 0;
  left: -105%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  cursor: pointer;
}

#banners .banners-content .banner:hover::before {
  animation: shine 0.7s ease forwards;
}

#banners .banners-content .banner:hover img {
  transform: scale(1.02);
}

#recent {
  margin-top: 70px;
}

#recent .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  #recent .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #recent .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #recent .container {
    width: 1500px;
  }
}

#recent .row {
  margin: 0;
}

#recent .row > div {
  padding: 0;
}

#recent .recent-body {
  height: 500px;
}

#best-seller {
  margin-top: -25px;
}

#best-seller .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  #best-seller .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #best-seller .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #best-seller .container {
    width: 1500px;
  }
}

#best-seller .row {
  margin: 0;
}

#best-seller .row > div {
  padding: 0;
}

#best-seller .best-seller-body {
  height: 500px;
}

#banner2 {
  margin-top: -55px;
}

#banner2 .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  #banner2 .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #banner2 .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #banner2 .container {
    width: 1500px;
  }
}

#banner2 .row {
  margin: 0;
}

#banner2 .row > div {
  padding: 0;
}

#banner2 .banner-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

#banner2 .banner-content .banner {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

#banner2 .banner-content .banner img {
  width: 100%;
  transition: all 0.5s;
  transform: scale(1);
}

#banner2 .banner-content .banner::before {
  position: absolute;
  top: 0;
  left: -105%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  cursor: pointer;
}

#banner2 .banner-content .banner:hover::before {
  animation: shine 0.7s ease forwards;
}

#banner2 .banner-content .banner:hover img {
  transform: scale(1.02);
}

#notes {
  margin-top: 150px;
  padding: 43px 0;
  background-color: #d4dfd7;
}

@media (max-width: 576px) {
  #notes {
    margin-top: 80px;
  }
}

#notes .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  #notes .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #notes .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #notes .container {
    width: 1500px;
  }
}

#notes .row {
  margin: 0;
}

#notes .row > div {
  padding: 0;
}

#notes .notes-swiper-container {
  width: 100%;
  overflow: hidden;
}

#notes .notes-swiper-container .swiper-pagination {
  position: static;
  margin-top: 30px;
  display: none;
}

@media (max-width: 992px) {
  #notes .notes-swiper-container .swiper-pagination {
    display: block;
  }
}

#notes .notes-swiper-container .swiper-pagination-bullet {
  width: 15px;
  height: 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  #notes .notes-swiper-container .swiper-pagination-bullet {
    width: 12px;
    height: 3px;
  }
}

#notes .notes-swiper-container .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: white;
}

#notes .notes-swiper-container .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2.5px;
}

#notes .notes-slider {
  position: relative;
}

#notes .note {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #626262;
}

@media (max-width: 992px) {
  #notes .note {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
}

#notes .note .note-icon {
  margin-inline-end: 23px;
  font-size: 36px;
}

@media (max-width: 1200px) {
  #notes .note .note-icon {
    margin-inline-end: 0;
    margin-bottom: 15px;
  }
}

#notes .note .note-body h3 {
  text-transform: uppercase;
  font-size: 16px;
}

@media (max-width: 1200px) {
  #notes .note .note-body {
    text-align: center;
  }
}

#notes .end {
  justify-content: flex-end;
}

@media (max-width: 992px) {
  #notes .end {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
}

footer {
  padding-top: 45px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
}

footer .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  footer .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  footer .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  footer .container {
    width: 1500px;
  }
}

footer .row {
  margin: 0;
}

footer .row > div {
  padding: 0;
}

footer .footer-head {
  margin-bottom: 55px;
  text-align: center;
  width: 100%;
}

@media (max-width: 576px) {
  footer .footer-head {
    margin-bottom: 30px;
  }
}

footer .footer-head h3 {
  font-size: 30px;
  margin: 0;
  color: #626262;
}

@media (max-width: 576px) {
  footer .footer-head h3 {
    font-size: 25px;
  }
}

footer .footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  footer .footer-top {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}

footer .footer-top .head h4 {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: TajawalBold;
  font-size: 16px;
  color: #626262;
}

footer .footer-top li {
  margin-bottom: 10px;
  transition: all 0.5s;
}

footer .footer-top li a {
  font-size: 15px;
  transition: all 0.3s;
  color: #626262;
  text-transform: capitalize;
  font-family: TajawalMedium;
}

footer .footer-top li:hover {
  transform: translateX(-5px);
}

footer .footer-top li:hover a {
  color: #e1e9e8;
}

@media (max-width: 992px) {
  footer .footer-top .account,
  footer .footer-top .adds,
  footer .footer-top .cust,
  footer .footer-top .info {
    display: none;
  }
}

footer .footer-top .mail {
  width: 360px;
  max-width: 100%;
}

footer .footer-top .mail h4 {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 700;
  font-family: TajawalBold;
  text-transform: uppercase;
  color: #626262;
}

footer .footer-top .mail .form-group {
  position: relative;
}

footer .footer-top .mail .form-group a {
  color: white;
  font-family: TajawalMedium;
  width: 95px;
  height: 35px;
  background-color: #626262;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 55px;
  transform: translate(-50%, -50%);
  font-size: 14px;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-top .mail .form-group a:hover {
  color: #d4dfd7;
}

footer .footer-top .mail .form-group input {
  border-radius: 50px;
  background-color: white;
  border-radius: 25px;
  font-size: 14px;
  width: 100%;
  height: 45px;
  padding-right: 30px;
  line-height: 4;
  border: none;
  outline: none;
}

footer .footer-top .mail .form-group input::placeholder {
  font-size: 14px;
  color: #adadad;
}

footer .footer-top .mail .social {
  margin-top: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  footer .footer-top .mail .social {
    justify-content: center;
  }
}

footer .footer-top .mail .social a {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #626262;
  font-size: 18px;
  margin: 0 3px;
  transition: all 0.3s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-top .mail .social a:hover {
  background-color: #d4dfd7;
  color: #626262;
}

footer .credit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

footer .credit p {
  font-size: 15px;
  color: black;
  text-align: center;
}

@media (max-width: 576px) {
  footer .credit {
    flex-direction: column-reverse;
    justify-content: center;
  }
  footer .credit p {
    margin-top: 20px;
  }
}

html[dir="ltr"] .s-container .swiper-button-prev {
  right: unset;
  left: -55px;
}

@media (max-width: 1400px) {
  html[dir="ltr"] .s-container .swiper-button-prev {
    right: unset;
    left: -35px;
  }
}

html[dir="ltr"] .s-container .swiper-button-next {
  left: unset;
  right: -55px;
}

@media (max-width: 1400px) {
  html[dir="ltr"] .s-container .swiper-button-next {
    left: unset;
    right: -35px;
  }
}

html[dir="ltr"] nav .nav-bottom .nava-active .nava-content {
  right: unset;
  left: 0;
}

html[dir="ltr"] nav .nav-bottom .search .search-content .search-btn {
  left: unset;
  right: -13px;
}

html[dir="ltr"] nav .nav-bottom .nav-lang {
  left: unset;
  right: 0;
}

@media (max-width: 1200px) {
  html[dir="ltr"] nav .nava .nava-content {
    right: unset;
    left: -150%;
  }
  html[dir="ltr"] nav .nava .nava-content .nava-head .nava-close {
    left: unset;
    right: 7px;
  }
}

html[dir="ltr"] nav .nava-active .nava-content {
  right: unset;
  left: 0;
}

html[dir="ltr"] .search-form .searching {
  left: unset;
  right: 10px;
}

@media (max-width: 576px) {
  html[dir="ltr"] .search-form .searching {
    left: unset;
    right: 10px;
  }
}

html[dir="ltr"] header .swiper-container .swiper-button-prev {
  right: unset;
  left: 35px;
}

html[dir="ltr"] header .swiper-container .swiper-button-next {
  left: unset;
  right: 35px;
}

html[dir="ltr"] #notes .note .note-body h3 {
  font-size: 16px;
}

html[dir="ltr"] footer .footer-top li:hover {
  transform: translateX(5px);
}

html[dir="ltr"] footer .footer-top .mail .form-group a {
  left: unset;
  right: -40px;
}

html[dir="ltr"] footer .footer-top .mail .form-group input {
  padding-right: unset;
  padding-left: 30px;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes vibe {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px);
  }
  75% {
    transform: translateY(-4px);
  }
}

@keyframes switch {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(180deg);
  }
}
/*# sourceMappingURL=main.css.map */